.crud-top{
    position: relative;
    top:150px;
}
.crud-Down{
    position: relative;
    top:150px;
}
.form-group #Name{
    position: absolute;
    top: 30%;
    left: 15%;
}
.form-group #Namefor{
    position: relative;
    top: -1%;
    left: 120%;
}
#Crear{
    position: relative;
    top:150px;
}
#Editar{
    position: relative;
    top:150px;
}
#Eliminar{
    position: relative;
    top:150px;
}
#Recuperar{
    position: relative;
    top:150px;
}