<section id="crud" class="mb-5 crud-top">
  <div class="container">
    <div class="row">
        <div class="card_crud"> 
          <div class="card">
            <div class="card-body text-center">
              <form #formCrud="ngForm" (ngSubmit) = "onLogOut()">
                <h1 class="h3 mb-3 front-weight-normal">
                  Tabla de Valores
                </h1>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Opinion</th>
                      <th scope="col">Estatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Dato of Datos">
                      <th scope="row">{{ Dato.id }}</th>
                      <td>{{ Dato.testName }}</td>
                      <td>{{ Dato.testPate }}</td>
                      <td>{{ Dato.testMate }}</td>
                      <td>{{ Dato.delete }}</td>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-danger" >
                    Cerrar sesion
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>



<p class="mb-5 crud-Down">
    <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#Crear" aria-expanded="false" aria-controls="Crear">
        Crear
    </button>
  <a class="btn btn-outline-primary" data-toggle="collapse" href="#Editar" role="button" aria-expanded="false" aria-controls="Editar">
    Editar
  </a>
  <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#Eliminar" aria-expanded="false" aria-controls="Eliminar">
    Eliminar
  </button>
  <!--button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#Recuperar" aria-expanded="false" aria-controls="Recuperar">
      Recuperar
  </button-->
</p>
<div class="collapse" id="Crear">
    <div class="card card-body">
      <form #formCrud="ngForm" (ngSubmit)="onEdit(testName1, testPate1, testMate1)">
        <h1 class="h3 mb-3 front-weight-normal">
          Crear Nuevas Materias
        </h1>
        <div class="form-group">
          <input type="text" id="testName1" name="testName" class="form-control" placeholder="testName" required #testName1>
        </div>
        <div class="form-group">
          <input type="text" id="testPate1" name="testPate" class="form-control" placeholder="testPate" required #testPate1>
        </div>
        <div class="form-group">
          <input type="text" id="testMate1" name="testMate" class="form-control" placeholder="testMate" required #testMate1>
        </div> 
        <button type="submit" class="btn btn-outline-success" >
          Crear
        </button>
      </form>
    </div> 
  </div>
<div class="collapse" id="Editar">
    <div class="card card-body">
      <form #formCrud="ngForm" (ngSubmit)="onEdit(id, testName, testPate, testMate)">
        <h1 class="h3 mb-3 front-weight-normal">
          Editar valuesValores
        </h1>
        <div class="form-group">
            <input type="text" id="id" name="id" class="form-control" placeholder="id" required #id>
        </div>
        <div class="form-group">
          <input type="text" id="testName" name="testName" class="form-control" placeholder="testName" required #testName>
        </div>
        <div class="form-group">
          <input type="text" id="testPate" name="testPate" class="form-control" placeholder="testPate" required #testPate>
        </div>
        <div class="form-group">
          <input type="text" id="testMate" name="testMate" class="form-control" placeholder="testMate" required #testMate>
        </div> 
        <button type="submit" class="btn btn-outline-primary" >
          Editar
        </button>
      </form>
    </div>
</div>
<div class="collapse" id="Eliminar">
  <div class="card card-body">
    <form #formCrud="ngForm" (ngSubmit)="onDelete(id2)">
      <h1 class="h3 mb-3 front-weight-normal">
        Eliminar
      </h1>
      <div class="form-group">
          <input type="text" id="id2" name="id" class="form-control" placeholder="id" required #id2>
      </div> 
      <button type="submit" class="btn btn-outline-danger" >
        Eliminar
      </button>
    </form>
  </div>
</div>
<!--div class="collapse" id="Recuperar">
    <div class="card card-body">
      <form #formCrud="ngForm" (ngSubmit)="onRecover(id3)">
        <h1 class="h3 mb-3 front-weight-normal">
          Recuperar Informacion
        </h1>
        <div class="form-group">
            <input type="text" id="id3" name="id" class="form-control" placeholder="id" required #id3>
        </div> 
        <button type="submit" class="btn btn-outline-warning" >
          Recuperar
        </button>
      </form>
    </div-->