<section id="login" class="mb-5 register-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onRegister()">
                <h1 class="h3 mb-3 front-weight-normal">
                  Register!
                </h1>
                <div class="form-group">
                  <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" placeholder="username" required>
                </div>
                <div class="form-group">
                  <input type="text" id="email" name="email" [(ngModel)]="user.email" class="form-control" placeholder="email" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" >
                  Registrarse
                </button>

                <div class="form-group">
                  <a>¿Ya tienes Cuenta?</a>
                  <a href="/">
                    Login
                  </a>  
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>